.welcomeScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.searchBar {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: black;
}

.startButton {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.startButton:hover {
  background-color: #0056b3;
}

.companyButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.companyButton {
  padding: 10px 15px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.companyButton:hover {
  background-color: #e0e0e0;
}

.companyButtonSelected {
  background-color: #111827; /* dark highlight */
  color: #ffffff;
  border-color: #111827;
}
