.button {
  padding: 10px 20px;
  background-color: #198754;
  color: white;
  border: 2px solid #0F5132;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 32px; /* Adds margin on the left and right */
  width: 150px; /* Adjust as needed */
  font-family: system-ui;
  flex-grow: 1;
}